@import "./../utils";

.contentContainer {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.postContainer {
    width: 700px;
    display: block;
}

.postImage {
}

.postTitle {
    text-align: center;

    h1 {
        margin: 15px 0;
    }
}

.postMetadata {

    a {
        color: $color-highlight;
    }

    a:hover {
        color: $color-text;
    }
}

.postContent,
.postContent p,
{
    text-align: left;
    line-height: 35px;
    font-size: 21px;
}

.postContent pre {
    font-size: 15px;
}

.sidebar {
    width: 250px;
    display: block;
    background-color: $color-sidebar;
}
