@import "./../utils";

.contentContainer {
    padding: 15px;
}

.postContainer {
}

.postImage {
}

.postTitle {
    text-align: center;

    h1 {
        margin: 15px 0;
    }
}

.postMetadata {

    display: flex;
    justify-content: space-between;
    
    a {
        color: $color-highlight;
    }

    a:hover {
        color: $color-text;
    }
}

.author {
    flex-grow: 1;
    // display: flex-start;
}

.tagsList {
    // display: flex-end;
}

.postContent,
.postContent p,
{
    text-align: left;
    line-height: 35px;
    font-size: 21px;
}

.postContent pre {
    font-size: 15px;
}

ul.tagsList {
    list-style-type: none;
}

ul.tagsList li {
    display: inline-block;
}