@import "./../utils";

// Removing defaults we don't need
* {
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

// Fonts 
body {
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;

  color: $color-text;
}

h1 {
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3 {
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: Nunito;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: Nunito;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}



// Main content
.mainContent {}

.mainContentInner {
    min-height: 400px;
}

.postList {
    overflow: hidden;
    padding: 30px 0;
}

// Post
.post {
    display: block;
    width: 320px;
    float: left;
    margin: 0 40px 55px 0;
}

.post h2 {
  padding: 10px 0px;
}

.post:hover {

  h2 {
    color: $color-highlight;
  }

  p {
    color: $color-text-dark;
  }
}

.post p {
  padding-bottom: 10px;
}

li:nth-child(3n+3) .post {
    margin-right: 0px;
}