// Removing defaults we don't need
* {
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

// Fonts
// body {
//     font-family: "Raleway", sans-serif;
//     font-size: 1em;
//     color: #666666;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     font-weight: normal;
// }

// Links
// a {
//     color: #333333;
// }

// a:hover {
//     color: #87d8ea;
// }

// Generic
// span {
//     display: inline-block;
//     vertical-align: middle;
// }

// .separator {
//     height: 1px;
//     width: 40%;
//     background-color: #eff2f7;
// }

// Containers
.container {
    width: 100%;
    background-color: #333333;
}

.innerContainer {
  max-width: 1040px;
  display: block;
  height: inherit;
  margin: 0 auto;
}

// Header
.header {
  background-color: aliceblue;
}

.headerInner {
}

.headerNavigation {
  background-color: red;
  overflow: hidden;
  padding-top: 15px;
}

a.headerNavigationLogo {
  background-color: aquamarine;
  display: block;
  float: left;
  padding: 10px;
}

a.headerNavigationLogo:hover {
  background-color:black;
  color: white;
}

.headerNavigationMenu {
  background-color: bisque;
  display: block;
  float: right;
}

nav a {
  background-color: cadetblue;
  margin-left: 10px;
  padding: 10px;
  float: right;
}

nav a:hover {
  background-color:black;
  color: white;
}

.banner {
  background-color: pink;
  text-align: center;
  padding: 75px 0;
}

.bannerGraphic {
  background-color: blueviolet;
  height: 150px;
}

.bannerTitle {
  margin-top: 15px;
}

.bannerTagline {
  margin: 20px 50px;
}


// Main content
.mainContent {
}

.mainContentInner {
  min-height: 400px;
  background-color: chocolate;
}

// Footer
.footer {
  background-color:darkgreen;
  display: block;
}

.footerInner {
  overflow: hidden;
  padding: 10px;
}

.footerCopyright {
  display: block;
  float: left;
  padding: 10px;
}

.footerLinks {
  display: block;
  float: right;
  padding: 10px;

  a {
    padding: 10px;
  }

  a:hover {
    color: white;
  }
}


// .banner {
//     min-height: 400px;
//     display: block;
//     padding: 100px 15%;
//     text-align: center;
//     color: white;
// }

// .bannerGraphics {
//     background-color: #333333;
//     display: block;
//     height: 100px;
// }

// .title {
//     margin-bottom: 20px;
// }

// .tagline {
//     margin-bottom: 50px;
// }

// .posts {
//     max-width: 800px;
//     margin: 0px auto;
// }

// .post {
//     display: block;
//     margin-top: 10px;
//     padding: 15px;
// }

// .postTitle {
//     padding-bottom: 10px;
//     display: block;
// }

// .postExcerpt {
//     padding-bottom: 10px;
// }

// .postMetadata {
//     font-size: 0.8em;
//     color: rgb(178, 186, 189);
//     margin-bottom: 15px;
// }

// .postDate {
//     padding-right: 10px;
// }

// .postTags {
//     padding: 0 10px;
// }

// .footer {
//     padding-top: 15px;
//     margin-top: 20px;
//     background-color: #87d8ea;
//     height: 65px;
//     text-align: center;
//     color: white;
// }