@import "./../utils";

.bannerContainer {
    width: 25%;
    min-width: 250px;
    padding: 25px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: fixed;
}

// Media queries
@media only screen and (max-width: 1026px) { 
    .bannerContainer {
        display: none;
    }
}