@import "./../utils";

.footerContainer {
    display: block;
    color: $color;
    padding-bottom: 15px;
    
    a {
        color: $color;
    }

    a:hover {
        color: $color-text;
    }
}

.footerInnerContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.footerCopyrightSection {
}

.footerSocialIconsSection {
}

.footerSocialIconsItem {
    display: inline;
    margin-left: 10px;
}