@import "./../utils";

// Header
.header {
    flex-grow: 0.8;
    text-align: center;
    margin-top: 100px;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    // Highlight style
    a {
        color: $color-text;
    }

    a:hover {
        color: $color-text-highlight;
    }
}

.headerInner {}

.headerNavigation {
    overflow: hidden;
    padding-top: 15px;
    border-bottom: 1px solid $color-separator-highlight;
}

a.headerNavigationLogo {
    display: block;
    padding: 10px;

    h1 {
        font-size: 35px;
    }
}

a.headerNavigationLogo:hover {
  color: $color-text-highlight;
}

.headerNavigationMenu {
    display: block;
}

nav a {
    margin-left: 10px;
    padding: 10px;
}

.banner {
    text-align: center;
    padding: 75px 0;
}

.bannerGraphic {
    height: 50px;
}

.bannerTitle {
    margin-top: 15px;
}

.bannerTagline {
    margin: 20px 50px;
}

.headerSeparator {
    display: block;
    height: 10px;
    border-bottom: 1px solid $color-separator-highlight;
    margin: 15px 0;
}

.title {
    margin-bottom: 10px;
}