@import "./../utils";

// Header
.headerContainer {
    flex-grow: 0.8;
    text-align: center;
    margin-top: 100px;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    // Highlight style
    a {
        color: $color-text;
    }

    a:hover {
        color: $color-text-highlight;
    }
}

.headerInnerContainer {
}

.headerNavigation {
}

a.headerLogo {
    display: block;
    padding: 10px;

    h1 {
        font-size: 35px;
    }
}

a.headerLogo:hover {
  color: $color-text-highlight;
}

.headerInfo {

    h4 {
        margin-bottom: 10px;
    }
}