@import "./../utils";

// Post
.post {
    display: block;
    width: 320px;
    margin: 0 0 55px 0;
}

.post h2 {
  padding: 10px 0px;
}

.post:hover {

  h2 {
    color: $color-highlight;
  }

  p {
    color: $color-text-dark;
  }
}

.post p {
  padding-bottom: 10px;
}