h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .2rem;
}

h1 { font-size: 3.8rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.3rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 2.8rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}