@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

body {
  font-size: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .2rem;
}

h1 { font-size: 3.6rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.0rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 2.6rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.1rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
  color: #f7484e;
}

a h1, a h2, a h3, a h4, a h5, a h6 {
  color: #222;
}

a:hover {
  color: #222;
}

a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6 {
  color: #f7484e;
}

ul {
  list-style: none;
}

pre[class*="language-"] {
  margin: 0;
  margin-bottom: 15px;
  padding: 10px;
}

code {
  border: 0px;
}